.env
.env-on-github-actions-example
env-pd.txt
__pycache__
venv
.venv
api-routes.png
mock-data-donate-version.sql
mock-data-paid-version.sql
manual_upload_images.py
Example-usecase.txt
minio-credentials.json
stripe_backup_code.txt
.mypy_cache
.pytest_cache
.ruff_cache
uploads/
*.egg-info
.env.*
!.env*.example
*.bak
